body {
    padding-top: 210px;
    padding-bottom: 20px;
   background-color:#F9E2FF;

}
.jumbotron {
    background-color:#AB7ABB;
}
.btn-mybutton {
    background-color:#AB7ABB;
    border-color:white;
    color:white;
}
#my_heading {
    color:white;
}
.request_items{
    margin-left:200px;
    margin-top:55px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#my_scroll {
    overflow-y:scroll;
    overflow-x:scroll;
    position:relative;
    height:220px;
}
/*PR timeline css first Page*/
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block }

.pr a {
    color: #6d84b4;
    text-decoration: none;
}


.pr  {
    
    padding-right: 85px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 60%;
    margin: auto;
    margin-top: -20px;
    border-radius: 5px;
    border: 1px solid #666;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    margin-left: 40px;
    *zoom: 1;
    width: 100%;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img { display: block }

.comment-body { overflow: hidden }

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child { margin: 0 }

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments, .comment { position: relative }

.comments:before, .comment:before, .comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    left: 105px;
    bottom: 0px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover {
    /*  cursor: url('../images/FB_CUR.cur');  See the result on http://lab.web-gate.fr/timeline/ */ 
    cursor: cell; /* This line is for the cursor */
}

.comment:hover:before { background: #3b5998 }

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}/*PR time line css ends*/


/*store menu item page*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }




.row {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  clear: both; }
  .row img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0; }

.gallery ul li {
  float: left;
  margin: 0 0.87719%; }

header {
  background-color: #84b4b1;
  color: white;
  text-align: center;
  padding: 30px 0 120px; }
  header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 0.8;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif; }
    header h1 span {
      text-transform: uppercase;
      letter-spacing: 7px;
      font-size: 25px;
      line-height: 1; }
  header p {
    padding-top: 30px; }

.gallery {
  padding: 40px 0 300px;
  position: relative;
  overflow: hidden; }
  .gallery ul {
    padding-top: 50px;
    position: relative; }
    .gallery ul li {
      margin-bottom: 20px;
      width: 23.24561%;
      position: relative;
      list-style: none; }
      .gallery ul li a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        line-height: 0; }
        .gallery ul li a:before {
          position: absolute;
          width: 32px;
          height: 32px;
          top: 40%;
          left: 50%;
          margin: -14px 0 0 -16px;
          background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
          content: "";
          opacity: 0;
          z-index: 1;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          transition: all 0.3s linear; }
        .gallery ul li a:hover:before {
          top: 50%;
          opacity: 1; }
        .gallery ul li a:after {
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.3);
          content: "";
          opacity: 0;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          transition: all 0.3s linear; }
        .gallery ul li a:hover:after {
          opacity: 1; }

.port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: white;
  background-color: #fafafa;
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .port img {
    width: 50%; }
  .port .description {
    float: left;
    width: 50%;
    max-height: 100%;
    padding: 0 40px 40px;
    overflow: auto; }
  .port h1 {
    font-size: 35px;
    line-height: 2.3;
    padding: 0; }
  .port > * {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  .port.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .port > * {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }

.close {
  width: 21px;
  height: 21px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
  position: absolute;
  right: 10px;
  top: -121px;
  opacity: 1;
  z-index: 1004;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .item_open .close {
    opacity: 1;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

/*store page ends*/
/*home page*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700);



.not{
   
  background-size: cover;
  padding:5em;
}

*{
  box-sizing:border-box;
}

.nn-alert{
  margin:auto;
  margin-top:20px;
  background:rgba(51, 59, 70, 0.5);
  border:1px solid #111;
  border-radius:3px;
  box-shadow:inset 0px 24px 0px rgba(255,255,255,0.1),
    inset 0 1px 0 rgba(255,255,255,0.4),
    inset 0 10px 10px rgba(255,255,255,0.2),
    inset 0 -5px 10px rgba(0,0,0,0.2),
    0 3px 3px rgba(0,0,0,0.3);
  width:250px;
  height:50px;
  padding:5px 10px;
  color:white;
  font-size:12px;
  text-shadow:0 1px 1px rgba(0,0,0,0.8);
  transition:all .5s ease;
  backface-visibility:hidden;
}
.nn-alert.pink, .nn-alert.neatnait{
  background: rgba(255, 0, 102, 0.7);
}
.nn-alert.purple{
  background: rgba(37, 0, 102, 0.7);
}
.nn-alert.blue{
  background: rgba(24, 90, 207, 0.7);
}
.nn-alert.glass{
  background: rgba(99, 99, 99, 0.27); 
}



.nn-alert .fa{
  font-size:2em;
  width:1em;
  float:left;
  margin:7px 10px 0 0px;
  text-align:center;
}

.nn-alert p{
  margin:6px 0;
}

.nn-alert:hover{
  opacity:0.5;
}
/*
.nn-alert:hover .nn-alert:after{
  content:"asdf";
}
*/
.not h1, .not h3{
  
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  text-shadow:0 1px 15px #fff;
  margin-bottom:2em;
}

.not h1{
  width:250px;
  margin:auto;
  color:white;
}
.neatnait-love{
  width:250px;
  margin:auto;
  margin-top:5em;
  font-weight:300;
  font-family: 'Roboto', sans-serif;
  text-shadow:0 5px 20px #000;
  color:white;
  background:#111;
  padding:2em 6em 2em 4em;
}

.not a{
  text-decoration:none;
  color:#f06;
  border-bottom:1px solid white;
  padding-bottom:5px;
  transition:border .5s ease;
}

.not a:hover{
  border-color:#111;
  color:#f06;
  border-bottom:4px solid white;
}


.hide{
  height:0;
  padding:0;
  margin:0;
}

.colors{
  position:fixed;
  top:0;
  left:0;
  padding:1em;
  color:white;
  font-size:11px;
  cursor:pointer;
}

.thumb{
  width:15px;
  height:15px;
  
  border:1px solid white;
  float:left;
  margin-right:5px;
}

.color.neatnait .thumb{
  background:#f06;
}
.color.purple .thumb{
  background: rgba(37, 0, 102, 0.7);
}
.color.blue .thumb{
  background: rgba(24, 90, 207, 0.7); 
}
.color.glass .thumb{
  background: rgba(99, 99, 99, 0.27); 
}
/*homepage ends*/ 
/*form css*/
html, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
}

small{ font-size:0.9em; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

.my_form h1{ font-size:2em; margin:0 0 50px 0; }
.my_form button{ cursor:pointer; }
.my_form p{ padding:5px 0; }

.my_form a{ text-decoration:none; }


#wrap{ padding:50px; width:860px; background-color:#FFF; margin:20px auto; border:1px dashed #AAA; position:relative; }
.options{ position:absolute; top:-1px; right:-1px; background-color:#F1F1F1; padding:4px 0; border-left:1px dashed #AAA; border-bottom:1px dashed #AAA; }
	.options label{ cursor:pointer; margin:0 10px; }

input, textarea{ border:1px solid #D1D1D1; }
input, select{ font-size:inherit; margin:0; }
input:focus, textarea:focus{ border-color:#AAA; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance:none; margin:0; }
input[type=checkbox]{ border:none; bottom:-1px; cursor:pointer; margin:0 5px 0 0; position:relative; }


/* Tooltips helpers */
.item .tooltip{ float:left; top:2px; left:7px; position:relative; z-index:2; }
.item .tooltip:hover{ z-index:3; }
   .item .tooltip > span{ display:inline-block; width:16px; height:16px; line-height:16px; font-size:0.9em; font-weight:bold; text-align:center; color:#FFF; cursor:help; background-color:#00AEEF; position:relative; border-radius:10px; }
    .item .tooltip .content{ opacity:0; width:200px; background-color:#333; color:#FFF; font-size:0.9em; position:absolute; top:0; left:20px; padding:8px; border-radius:6px; pointer-events:none; transition:0.2s cubic-bezier(0.1, 0.1, 0.25, 2); -webkit-transition:0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2); -moz-transition:0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2); }
        .item .tooltip p{ padding:0; }
   .item .tooltip.down .content{ left:auto; right:0; top:30px; }
   .item .tooltip:hover .content{ opacity:1; left:36px; }
      .item .tooltip .content b{ height:0; width:0; border-color:#333 #333 transparent transparent; border-style:solid; border-width:9px 7px; position:absolute; left:-14px; top:8px; }
        .item .tooltip.down .content b{ left:auto; right:6px; top:-10px; border-width:5px; border-color:transparent #333 #333 transparent; }

/* alerts (when validation fails) */
.item .alert{ float:left; margin:0 0 0 20px; padding:3px 10px; position:relative; color:#FFF; border-radius:3px 4px 4px 3px; background-color:#CE5454; max-width:170px; white-space:pre; z-index:1; }
.item .alert::after{ content:''; display:block; height:0; width:0; border-color:transparent #CE5454 transparent transparent; border-style:solid; border-width:11px 7px; position:absolute; left:-13px; top:1px; }

@keyframes shake{
    25%{ transform:translateX(-6px); }
    75%{ transform:translateX(6px); }
}
@-webkit-keyframes shake{
    25%{ -webkit-transform:translateX(-6px); }
    75%{ -webkit-transform:translateX(6px); }
}

form fieldset{ clear:both; margin:0 0 10px 0; }
form .item{ padding:5px 0; position:relative; height:2em; }
form .item.items{ height:auto; }
	.item label{ float:left; }
		.item label span{ float:left; width:160px; text-transform:capitalize; line-height:2em; }
	.item input, .item textarea{ float:left; padding:3px 4px; width:210px; -webkit-transition:0.2s; -moz-transition:0.2s; transition:0.2s; }
	.item input{  }
	.item input.short{ width:90px; }
	.item input:focus:not([type="checkbox"]), .item textarea:focus{ box-shadow:0 0 4px #00AEEF; border:1px solid #00AEEF; }
	.item textarea{  }
	.item select{ float:left; width:220px; padding:2px 0; margin:0; border:1px solid #CCC; text-transform:capitalize; }
		.item select option{ padding:1px; }

    .item > .extra{ float:left; font-size:0.9em; color:#999; line-height:2em; margin-left:13px; }
    
	.item.multi .input{ float:left; }
		.item.multi input{ float:left; margin-right:5px; width:35px; text-align:center; }
		form .item.multi input:nth-last-child(-n+2){ margin:0; }
	.item.items input{ border-top:5px solid #E1E1E1; margin:0 0 0 160px; }
	
	.bad input[required=required], .bad input.optional, .bad select, .bad textarea{ border:1px solid #CE5454; box-shadow:0 0 4px -2px #CE5454; position:relative; left:0; -moz-animation:.3s 2 shake linear; -webkit-animation:0.3s 2 shake linear; }
    
/* mode2 - where the label's text is above the field and not next to it
--------------------------------------------------------------------------- */
.mode2 .item{ float:left; clear:left; margin-bottom:30px; height:auto; padding:0; zoom:1; }
.mode2 .item.bad{ margin-bottom:8px; }
.mode2 .item::before, .mode2 .item::after{ content:''; display:table; }
.mode2 .item::after{ clear:both; }
	.mode2 .item label{  }
		.mode2 .item label span{ float:none; display:block; line-height:inherit; }
	.mode2 .item input, .item textarea{ width:250px; margin:0; }
	.mode2 .item textarea{ width:350px; margin:0; }
	.mode2 .item select{ width:260px; float:none; }
	.mode2 .item.multi label{ float:none; }
	.mode2 .item.multi input{ float:left; margin-right:5px; width:35px; text-align:center; }
	.mode2 .item .tooltip{ left:auto; position:absolute; right:-22px; top:19px; }
	.mode2 .item .alert::after{ display:none; }
	.mode2 .item .alert{ float:none; clear:left; margin:0; padding:0 5px; border-radius:0 0 3px 3px; max-width:100%; height:22px; line-height:1.8em; }
    .mode2 .item > .extra{ position:absolute; right:0; }
/*form css ends*/

/*index page*/


.intro {
	background-color: #f7f7f7;
	width: 100%;
	height: 100%;
	
    margin-top:40px;
}

#wrapper {
	text-align: center;
	position: fixed;
	left: 50%;
	top: 35%;
	width: 480px;
	height: auto;
  	margin: 0 auto;
	margin-left: -240px;
	margin-top: -150px;
}

img {
	width: 130px;
	height: auto;
}

#information {
	margin: 0 auto;
	width: auto;
	height: 100%;
}

#information > h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 20px 0 15px 0;
	color: #1f3f52;
}

#information > #user > a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin: 0 auto;
	width: auto;
	text-decoration: none;
	color: #666666;
	padding: 5px 10px;
	transition: all .2s ease;
	border-radius: 2px;
}

#information > #user > a:hover {
	background-color: #fff;
  color: #808080;
}

#information > #user > p {
	color: #666666;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  padding-top: 10px;
}

#information > #user > a > img {
	width: 12px;
	padding-right: 4px;
}


#social {
	width: inherit;
}

#social > a > img {
	width: 24px;
	height: auto;
	padding: 10px;
	cursor: pointer;
}

.follow {
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

.follow > a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin: 0 auto;
	text-decoration: none;
	color: #666666;
	padding: 5px 10px;
	transition: all .2s ease;
	border-radius: 2px;
}

.follow > a:hover {
	background-color: #fff;
  color: #909090;
}

.follow > a > img {
	width: 11px;
	height: auto;
	padding-right: 7px;
}

.follow > #follow_me {
	margin-top: 30px;
}

.follow > #follow_me > a {
	border: 1px solid #99bbd4;
  border-radius: 2px;
	padding: 7px 20px;
	text-decoration: none;
	color: #99bbd4;
	font-family: 'roboto', sans-serif;
	font-weight: 300;
  font-size: 13px;
	transition: all .2s ease;
}

.follow > #follow_me > a:hover {
	background-color: #99bbd4;
	color: #fff;
}
/*INDEX PAGE ENDS*/