
@{
    ViewBag.Title = "view_pr_department";
    Layout = "~/Views/Shared/HOD_Layout.cshtml";
}

<table class="table table-striped">
    <tr>
        <th>PR.no</th>
        <th>requested by</th>
        <th>item catagory</th>
        <th>options</th>


    </tr>
    <tr>
        <td>1</td>
        <td>ali </td>
        <td>stationary</td>
        <td><button type="button" class="btn btn-default">forward</button><button type="button" class="btn btn-default">Discard</button></td>

    </tr>
    <tr>
        <td>2</td>
        <td>ali </td>
        <td>stationary</td>
        <td><button type="button" class="btn btn-default">forward</button><button type="button" class="btn btn-default">Discard</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>umer </td>
        <td>furniture</td>
        <td><button type="button" class="btn btn-default">forward</button><button type="button" class="btn btn-default">Discard</button></td>

    </tr>
    <tr>
        <td>4</td>
        <td>fayaz </td>
        <td>kitchen</td>
        <td><button type="button" class="btn btn-default">forward</button><button type="button" class="btn btn-default">Discard</button></td>

    </tr>
</table>
        

