
@{
    ViewBag.Title = "admin_panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron">
        <h3>Hello, Admin</h3>
        <p>log Data</p>
       
        <table class="table table-hover">
            <tr>
                <th>S.no</th>
                <th>User</th>
                <th>time</th>
                <th>Work done</th>


            </tr>
            </table>
            <div id="my_scroll">
                <table class="table table-hover">
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                        <td>Dummy</td>
                    </tr>

                </table>
            </div>
</div>
</div>