
@{
   ViewBag.Title = "issue_product";
   Layout = "~/Views/Shared/Store_keeper_layout.cshtml";
}
<script>
    function issue()
    {
        alert("product issued");
    }
    </script>
<table class="table table-striped">
    <tr>
        <th>S.no</th>


        <th>PR id</th>
        <th>item id</th>
        <th>Requested by</th>
        <th>item catagory</th>
        <th>options</th>


    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>15</td>
        <td>usman</td>


        <td>furniture</td>
        <td><a data-toggle="modal" onclick="issue()" href="#">issue  </a></td>
    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>15</td>
        <td>usman</td>

        <td>furniture</td>
        <td><a data-toggle="modal" onclick="issue()" href="#">issue  </a></td>
    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>15</td>
        <td>usman</td>

        <td>furniture</td>
        <td><a data-toggle="modal" onclick="issue()" href="#">issue  </a></td>
    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>15</td>
        <td>usman</td>


        <td>furniture</td>
        <td><a data-toggle="modal" onclick="issue()" href="#">issue  </a></td>
    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>15</td>
        <td>usman</td>


        <td>furniture</td>
        <td><a data-toggle="modal" onclick="issue()" href="#">issue  </a></td>
    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>15</td>
        <td>usman</td>



        <td>furniture</td>
        <td><a data-toggle="modal" onclick="issue()" href="#">issue  </a></td>
    </tr>
</table>
